//Catalogo de colores
.colores{
    color: transparent;

    //Boton de aceptar y rechazar; azules y rojos
    color: #8cbcfc;
    color: #4383c7;
    color: #376faa;

    color: #7c2e2e;
    color: #d84949;
    color: #ee7171;

    //Blancos y grises
    color: #fafafa;
    color: #f2f2f2;    //Fondo de dropdown y filtros de deuda
    color: #dedede;
    color: #c2c2c2;

    color: #090909;

    color: #058844;
}