//Catalogo de colores
.colores {
	color: transparent;

	//Boton de aceptar y rechazar; azules y rojos
	color: #7fb17f;
	color: #006400;
	color: #005000;
	color: #003c00;

	color: #006400;
	color: #005a00;
	color: #005000;
	color: #004600;
	color: #003c00;

	color: hsl(149, 95%, 77%);
	color: hsl(149, 54%, 52%);
	color: hsl(149, 51%, 44%);
	color: hsl(149, 55%, 25%);

	color: #7c2e2e;
	color: #d84949;
	color: #ee7171;

	//Blancos y grises
	color: #fafafa;
	color: #f2f2f2; //Fondo de dropdown y filtros de deuda
	color: #dedede;
	color: #c2c2c2;
	color: #9d9d9d; //Para botón de vetar en hover

	//Color negro
	color: #090909;

	//Color verde         //El único color verde que tenemos permitido
	color: #058844;

	//Renombrar colores
	color: #eafeff;

	//TODO meterlos en variables tipo asi
	// --bs-table-color: var(--bs-emphasis-color);
}
