/*CSS Global de App*/
// Importar la fuente Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//CLASES GLOBALES

///Clases globales generales
//TODO renombrar a App (sin el global pero me da miedo que se rompa)
.App_global {
  text-align: center;
  margin: 0;
  color: #090909;
  font-family: 'Open Sans', sans-serif;
}

///Clases globales de los botones
.App_global button {
  width: 14em;
  height: 2.6em;
  border-radius: 1vh;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

///Clases globales de inputs
input{
  width: 14em;
  margin: 5px ;
  padding: 10px;
  border: 1px solid #dedede;
  border: none;
  border-radius: 1vh;
  background-color: #dedede;
  font-style: italic;
}


/* input[type="text"] {
  font-style: italic;
}

input[type="password"] {
  font-style: italic;
} */

//Clases globales de fondos
.App_minheight {
  min-height: 85vh;
}

.App_minheight_login {
  height: 95vh;
}

.App_background_blue {
  background: linear-gradient(to right, #EAFEFF, #9EC3F6);
}

.App_background_picture {
  background: linear-gradient(to right, rgba(234, 254, 255, 0.30), rgba(158, 195, 246, 0.30)),url('/src/assets/inicioSesion/bInicioSesion.png');
  background-size: cover;
  background-position: center;
}
//Clases globales para botones
.App_buttonaccept {
  background-color: #8cbcfc;
}
.App_buttonaccept:hover {
  background-color: #4383c7;
}
.App_buttonaccept:active {
  background-color: #376faa;
}

.App_buttoncancel {
  background-color: #ee7171;
}
.App_buttoncancel:hover {
  background-color: #d84949;
}
.App_buttoncancel:active {
  background-color: #7c2e2e;
}

//TODO convertir a elemento individual para pag de Reportes
.App_minpadding {
  padding: 5vh;
}