.footer {
    display: flex;
    flex-direction: column;
    background-color: #090909;
}

.footer-text {
    color: #dedede;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-link {
    color: #058844;
}