.footer {
    display: flex;
    flex-direction: column;
    background-color: #090909;
    text-align: center;
    padding: 1rem;
}

.footer_text {
    color: #fafafa !important;
    font-size: calc(1.5px + 2vh);
}

.footer_link {
    color: #058844 !important;
}