
  .titulo-grande1{
    color: #000000;
    font-size: calc(30px + 2vmin);
    text-decoration: none;
    margin-bottom: -20px; 
  }
  
  .titulo-grande2{
    color: #000000;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    margin-bottom: 40px;
  }

  .table1{
    padding: 10px;
    border-collapse: separate;
    border-spacing: 15px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
   /* width: 60vh;*/
    width: 30%; /* Ajusta el ancho de la tabla según sea necesario */
    text-align: center; /* Centra el contenido de la tabla */

  }

  .header-logo {
    margin-top: -25px;
    height: 15vmin;
    padding: 0;
}
.titulo-bienvenido{
    color: #000000;
    font-size: calc(10px + 2vmin);
    margin-top: -4vh;
    margin-bottom: -5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 12em;
    height: 2.8em;
    padding: 5px;
    margin: 5px ;
    border: 1px solid #D9D9D8;
    border-radius: 10px; /* Aumentamos el valor del border-radius para hacer los bordes más redondos */
    box-sizing: border-box;
    background-color: #D9D9D8; /* Cambiamos el color de fondo a gris */
    font-size: calc(8px + 2vmin) ;
    text-align: center;
  }
  input[type="password"] {
    width: 12em;
    height: 2.8em;
    padding: 5px;
    margin: 5px ;
    border: 1px solid #D9D9D8;
    border-radius: 10px; /* Aumentamos el valor del border-radius para hacer los bordes más redondos */
    box-sizing: border-box;
    background-color: #D9D9D8; /* Cambiamos el color de fondo a gris */
    font-size: calc(8px + 2vmin) ;
    text-align: center;
  }
  /*BOTON*/
  .button {
    width: 10em;
    height: 2.6em;
    padding: 5px;
    margin: 5px;
    border: 1px solid #A5CFFD;
    border-radius: 25px; /* Aumentamos el valor del border-radius para hacer los bordes más redondos */
    box-sizing: border-box;
    background-color: #A5CFFD; 
    font-size: calc(8px + 2vmin);
    text-align: center;
    cursor: pointer; /* Cambiamos el cursor cuando se pasa sobre el botón */
    display: inline-block; /* Hacemos que el botón se comporte como un elemento en línea */
    text-decoration: none; /* Quitamos la subrayado predeterminado en el botón */
}

.button:hover {
    background-color: #5aa9fe; /* Cambiamos el color de fondo cuando se pasa el ratón sobre el botón */
    border-color: #C0C0C0; /* Cambiamos el color del borde cuando se pasa el ratón sobre el botón */
}

.button:active {
    background-color: #2969ad; /* Cambiamos el color de fondo cuando el botón está presionado */
}
  