.dropdown-container {
  text-align: left;
  display: flex;
}

.dropdown-toggle-custom {
  width: 45vh;
  background-color: #f2f2f2 !important;
  color: black !important;
  border-color: #d9d9d8 !important;
}

.dropdown-menu-custom {
  width: 45vh;
}

// .custom-dropdown-toggle {
//   width: 200px;
//   text-align: left;
//   border-radius: 8px;
//   padding: 1px 10px;
//   background: rgb(236, 230, 230);
// }

