.flex-contenedor {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .upper-contenedor {
    background-color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .lower-contenedor {
    background-color: green;
    height: 100px;
    width: 90%;
  }
  
  .JAJAJAJA {
    width: 250px;
  }

  .lol{
    background-color: black;
  }