.navbar {
    /* background: linear-gradient(to right, rgb(12, 67, 102), rgb(100, 171, 174)); */
    background: linear-gradient(to right, #C7FCFF, #0063E8);
    display: flex;
    font-size: calc(5px + 2vmin);
}

.navbar-right{
    margin-left: auto; 
    margin-right: 20px;
}

/* Botton left right top */
.navbar-text{
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.navbar-blacktext{
    color: rgb(20, 20, 20);
}

.navbar-whitetext{
    color: rgb(255, 255, 255);
}