.universal_header_table {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.universal_header_linksquare {
  background-color: #fafafa;
  border-radius: 1vh;
  height: 40vh;
  width: 40vh;
}

.universal_header_table2 {
  margin-left: auto;
  margin-right: auto;
}

.universal_header_table3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 15px 15px;
  background-color: #fafafa;
  border-radius: 1vh;
  height: 50vh;
  width: 50vh;
}

.universal_header_texttitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.universal_header_text {
  color: #090909;
  font-size: calc(8px + 2vmin);
}

.universal_header_textlink {
  // TODO unificar color negro del sitio
  color: #090909;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
}

.universal_input_date{
  border: 0px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: #f2f2f2;
  width: 200px;
  margin-right: 20px;
  text-align: center;
}

.universal_input_date:last-child {
  margin-right: 0;
}

.universal_input_date:focus {
  outline: none;
}

.universal_container_inputdate {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.universal_container_pickerdate {
  margin-right: 20px;
}

.universal_container_checkbox {
  display: flex;
  align-items: center;
}

.universal_container2_checkbox {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

//TODO mover a reports
.universal_rectangle_gray {
  width: 100%;
  height: 300px;
  background-color: #dedede;
  border: none;
}

.universal_button_export {
  margin-top: 30px;
  text-align: right;
}

.universal_container_dropdown {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.universal_container_dropdown2 {
  margin-right: 30px;
}

.universal_container_services {
  margin-top: 30px;
  margin-bottom: 30px;
}

.universal_toggle_dropdown {
  background-color: #f2f2f2 !important;
  color: black !important;
  border-color: #dedede !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.universal_dropdown_custommenu {
  max-height: 200px;
  max-width: 200px;
  overflow-y: auto;
}

.universal_margin_formcheck{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.universal_label_radio {
  margin-right: 20px;
  font-size: larger;
}

.universal_checkbox_HM {
  border-color: #c2c2c2;
}

.universal_text_HM {
  margin-left: 5px;
  margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .universal_container2_checkbox {
    flex-direction: column;
    align-items: flex-start;
  }
}