.universal_header_table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

//TODO renombrar a table2
.universal_header_table3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 15px 15px;
  background-color: #fafafa;
  border-radius: 1vh;
  height: 50vh;
  width: 50vh;
}

.universal_header_texttitle {
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.universal_header_text {
  color: #090909;
  font-size: calc(8px + 2vmin);
}

.universal_input_date{
  border: 0px solid #ccc;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #f2f2f2;
  width: 200px;
  text-align: center;
  height: 40px;
}

.universal_input_date:focus {
  outline: none;
}

.universal_container_pickerdate {
  margin-right: 20px;
}

.universal_container_dropdown {
  text-align: left;
}

.universal_toggle_dropdown {
  background-color: #f2f2f2 !important;
  color: #090909 !important;
  border-color: #dedede !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.universal_label_radio {
  margin-right: 20px;
  font-size: large;
}

.universal_checkbox_HM {
  border-color: #c2c2c2;
}

.universal_text_HM {
  margin-left: 5px;
  margin-right: 20px;
}

// TODO Mover a reportes
.reports_button_export {
  text-align: right;
}

.reports_container_services {
  margin-bottom: 2vh;
}

.reports_dropdown_custommenu {
  max-height: 200px;
  max-width: 200px;
  overflow-y: auto;
}

.reports_margin_formcheck{
  margin-left: 1vh;
  margin-right: 1vh;
}

.reports_flex_checkboxes{
  display: flex;
  //Bottom left top right
  margin: 20px 0px 20px 0px;
}

.reports_title_container {
  display: flex;
  align-items: center;
}

.reports_title_element {
  margin-right: 10px;
  margin-left: 5px;
}

.reports_image_element {
  width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: 20px;
}

.reports_generated_element {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.userlist_text_error {
  color: #d84949;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-left: -150px;
}

.title-element2{
  margin-left: 5px;
}

.reports_container_checkbox {
  display: flex;
  align-items: center;
}

.reports_container_inputdate {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

//TODO mover a archivo de home nuevo
//y renombrar el homeadmin.scss antiguo a universal
.home_text_squarebutton {
  color: #090909;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
}

.home_squarebutton {
  background-color: #fafafa;
  border-radius: 1vh;
  height: 40vh;
  width: 40vh;
}

.home_squarebutton:hover {
  transform: scale(1.05);
  // filter: brightness(95%);
  background-color: #f2f2f2;
}

.home_text_squarebutton2 {
  margin-left: auto;
  margin-right: auto;
}

