.home_text_squarebutton {
  color: #090909;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
}

.home_squarebutton {
  background-color: #fafafa;
  border-radius: 1vh;
  height: 40vh;
  width: 40vh;
}

.home_squarebutton:hover {
  transform: scale(1.05);
  // filter: brightness(95%);
  background-color: #f2f2f2;
}

.home_text_squarebutton2 {
  margin-left: auto;
  margin-right: auto;
}

.home_welcomemessage {
  font-weight: 500;
}
