.login_table{
  padding: 2vh;
  border-collapse: separate;
  background-color: #fafafa;
  border-radius: 1vh;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.login_header_logo {
  height: 15vmin;
}

.login_inputs{
  margin: 1vh;
}