.table1{
  padding: 10px;
  border-collapse: separate;
  border-spacing: 15px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 1vh;
  width: 30%;
  text-align: center;
}

.header-logo {
  margin-top: -25px;
  height: 15vmin;
  padding: 0;
}