.login_table {
  padding: 2vh;
  border-collapse: separate;
  background-color: #fafafa;
  border-radius: 1vh;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.login_header_logo {
  height: 15vmin;
}

.login_inputs {
  margin: 1vh;
}

.login_checkbox_admin {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
