.login_table{
  padding: 10px;
  border-collapse: separate;
  border-spacing: 15px 15px;
  background-color: #fafafa;
  border-radius: 1vh;
  width: 30%;
  text-align: center;
}

.login_header_logo {
  margin-top: -25px;
  height: 15vmin;
  padding: 0;
}