// TODO renombrar estas clases sin que se rompa ;_;

.rooms_spacing_beds{
  width: 80px;
  margin: 10px;
  //background-color: #dedede;
  align-self: flex-end;
}

.rooms_spacing_beds:hover{
  transform: scale(1.1);
  filter: brightness(95%);
}

//TODO renombrar
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //background-color: #058844;
  justify-content: left
}

.rooms_text_beds{
  margin-top: -67%;
  font-weight: bold;
  font-size: x-large;
  color: #090909;
  text-decoration: none
}

.rooms_text_bedsnot{
  text-decoration: none !important;
}

.rooms_spacing_addbed{
  width: 80px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-width: 1px;
}

#rooms_logo_addbed{
  font-size: 200%;
  color: #090909;
  border-width: 0px;
  width: 100%;
  height: 100%;
}

.rooms_text_titles{
  margin-left: 10px;
  font-weight: bold;
  font-size: larger;
}

.rooms_text_subtitles{
  //background-color: #d84949;
  margin-top: 2vh;
  display: flex;
  //flex-direction: column;
  align-items: center;
  gap:0px 100px;
}

.rooms_text_disponibility{
  font-size: large;
  font-style: italic;
}

.rooms_circle_red{
  color: #ee7171;
  font-size: small;
}

.rooms_circle_gray{
  color: #c2c2c2;
  font-size: small;
}

.rooms_circle_blue{
  color: #8cbcfc;
  font-size: small;
}

.rooms_spacing_disponibility{
  display: flex;
  gap: 20px;
}

.rooms_text_infotitle{
  font-weight: bold;
  font-size: x-large;
}

.rooms_text_infosubtitles{
  font-size: large;
}

.rooms_width_infoinputs{
  width: 200px;
}

.rooms_text_condpay{
    margin-left: 10px;
}
