.universal_header_table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.universal_header_table2 {
  margin-top: 105px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 1vh;
  width: 25vw;
}

.universal_header_texttitle {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.universal_header_text {
  font-size: calc(8px + 2vmin);
}

.universal_input_date {
  border: 0px solid #ccc;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #f2f2f2;
  width: 200px;
  text-align: center;
  height: 40px;
}
.universal_input_date:focus {
  outline: none;
}
.universal_input_date:disabled {
  cursor: not-allowed;
}

.universal_container_pickerdate {
  margin-right: 20px;
}

.universal_container_dropdown {
  text-align: left;
}

.universal_toggle_dropdown {
  background-color: #f2f2f2 !important;
  color: #090909 !important;
  border-color: #dedede !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.universal_label_radio {
  margin-right: 20px;
  font-size: large;
}

.universal_checkbox_HM {
  border-color: #c2c2c2;
}

.universal_text_HM {
  margin-left: 5px;
  margin-right: 20px;
}

.universal_text_error {
  color: #d84949;
  font-size: small;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.universal_text_success {
  color: #058844;
  font-size: small;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.universal_marginbottom{
  margin-bottom: 1rem;
}

.universal_limit_input{
  max-width: 30vh !important;
}
