.userlist_container_flex {
  // background-color: #d84949;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userlist_container_upper {
  // background-color: #058844;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

.userlist_container_lower {
  //background-color: #058844;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  // Top right bottom left
  padding: 0px 50px 0px 50px;
}

.userlist_toggle_dropdown {
  background-color: #f2f2f2;
  height: 37px;
  border-width: 0px;
}

.userlist_dropdown_custommenu {
  width: 100%;
}

.userlist_container_inputdate {
  // background-color: #058844;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.userlist_container_inputdate .container_dash {
  color: #090909;
  margin-right: 20px;
}

.userlist_container_inputdebt {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.userlist_inputdebt {
  background-color: #f2f2f2;
  height: 37px;
  width: 200px;
}

.userlist_container_inputdebt .container_dash {
  color: #090909;
  margin-left: 20px;
  margin-right: 20px;
}

.userlist_container_radio {
  // background-color: #8cbcfc;
  margin-bottom: 15px;
}

.radio_input input[type='radio'] {
  background-color: #8cbcfc;
  margin-right: -25%; /* Adjust this value as needed */
}

.no_results_text {
  // background-color: #4383c7;
  margin-top: 10%;
  font-weight: bold;
  font-size: larger;
}

.error {
  // background-color: #8cbcfc;
  color: #d84949;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
