.user_container_reg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    width: 450px;
    // margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.user_space_reg{
    background-color: #f2f2f2;
    height: 62px;
}

.user_span_space_icon{
    background-color: #fafafa;
    font-size: xx-large;
    min-width: 60px;
}

.user_span_sociolevel{
    font-size: larger;
    margin-bottom: 15px;
}

.user_div_radio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //align-items: center;
    justify-content: left;
    //background-color: #d84949;
    width: 100%;
    height: 100%;
}

.user_input_notas{
    border: solid 1px black;
    background-color: #fafafa;
    height: 100px;
    width: 450px;
    padding-top: 10px;
}

.user_space_not{
    margin-top: 40px;
    //background-color: #d84949;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.user_label_x{
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.user_label_x2{
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 40%;
}

.user_select_beds{
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1vhpx;
    background-color: #f2f2f2;
    cursor: pointer;

}

.user_container_general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 150px;
}

.user_span_notesicon{
    font-size: larger;
}

.user_span_notestext{
    background-color: #fafafa;
    font-size: larger;
}

.user_services_register{
    margin-top: 2vh;
}

.user_button_register{
    align-self: flex-end;
}

.user_spaciator{
    height:5vh;
}

//InfoUser
.userinfo_justified{
    text-align: justify;
}

.userinfo_span_info{
    height: 62px;
    font-size: larger;
    background-color: #fafafa;
    width: 85%;
}
.userinfo_span_baninfo{
    height: 62px;
    font-size: larger;
    background-color: #fafafa;
    color: red;
    width: 85%;
}

.userinfo_adjust_debt{
    width: 20%;
}

.userinfo_adjust_debt_input{
    width: 20%;
}

.userinfo_button_ban{
    margin-top: 10%;
    margin-left: 50%;
    background-color: #c2c2c2;
}

.userinfo_button_ban:hover{
    background-color: #9d9d9d;
}

.userinfo_button_edit {
    position: absolute;
    color: #1d4e63;
    top: 10px;
    left: 45px;
    width: 7% !important;
}

.userinfo_size_deposit{
    height:  61px!important;
    width: 20% !important;
}

//UserNew
.user_span_textsize{
    min-width: 150px;
}

//TODO pasar userlist para aca y renombrar archivo a user.scss