.user_container_reg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    //justify-content: center;
    height: 100%;
    //background-color: #d84949;
    width: 450px;
    //margin-left: 150px;
    margin-top: 50px;
}

.user_space_reg{
    background-color: #f2f2f2;
    height: 62px;
}

.user_span_space_icon{
    background-color: #fafafa;
    font-size: xx-large;
    min-width: 60px;
}

.user_span_sociolevel{
    background-color: #fafafa;
    font-size: larger;
    margin-bottom: 15px;
}

.user_div_radio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //align-items: center;
    justify-content: left;
    //background-color: #d84949;
    width: 100%;
    height: 100%;
}

.user_checkerito{
    margin-left: 15px;
}

.user_input_notas{
    border: solid 1px black;
    background-color: #fafafa;
    height: 100px;
    width: 450px;
    padding-top: 10px;
}

.user_space_not{
    margin-top: 50px;
    //background-color: #d84949;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.user_label_x{
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.user_select_beds{
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondos */
    background-color: #f2f2f2; /* Fondo gris */
    cursor: pointer;
}

.user_container_general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 150px;
}

.user_span_notesicon{
    font-size: larger;
}


.user_span_notestext{
    background-color: #fafafa;
    font-size: larger;
}

.user_services_register{
    margin-top: 30px;
}

.user_button_register{
    background-color: #f2f2f2;
    align-self: flex-end;
}

.user_span_info{
    height: 62px;
    font-size: larger;
    background-color: #fafafa;
    width: 85%;
}

.user_span_textsize{
    min-width: 150px;
}