/*CSS Global de App*/
// Importar la fuente Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App-global {
  text-align: center;
  margin: 0;
  color: #232629;
  font-family: 'Open Sans', sans-serif;
}

.App-global h1{
  font-size: calc(30px + 2vmin);
  text-decoration: none;
}

.App-global h2{
  font-size: calc(10px + 2vmin);
  text-decoration: none;
  margin-bottom: 40px;
}

.App-global h3{
  font-size: calc(10px + 2vmin);
  margin-top: -4vh;
  margin-bottom: -5px;
  font-weight: bold;
}

.App-bluebackground {
  background: linear-gradient(to right, #EAFEFF, #9EC3F6);
  /* opacity: 0.68; */
}

.App-minheight {
  min-height: 85vh;
}
.App-minheightSU {
  min-height: 92.35vh;
}

.App-picturebackground {
  background: linear-gradient(to right, rgba(234, 254, 255, 0.30), rgba(158, 195, 246, 0.30)),url('/src/assets/inicioSesion/bInicioSesion.png');
  background-size: cover; /* ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* posición de la imagen centrada */
}

.App-minpadding {
  padding: 5vh;
}

//ELEMENTOS GLOBALES

///input
input{
  width: 14em;
  margin: 5px ;
  padding: 10px;
  border: 1px solid #D9D9D8;
  border: none;
  border-radius: 1vh;
  background-color: #D9D9D8;
  font-size: calc(2px + 2vmin);
  font-style: italic;
}

input[type="text"] {
  font-size: calc(2px + 2vmin);
  font-style: italic;
}

input[type="password"] {
  font-size: calc(2px + 2vmin);
  font-style: italic;
}

// div{
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

///button

//TODO mover las clases de los botones AQUÍ (resolver por qué fallan)