/*CSS Global de App*/

.App-global {
  text-align: center;
  margin: 0;
  color: #232629;
}

.App-bluebackground {
  background: linear-gradient(to right, #EAFEFF, #9EC3F6);
  /* opacity: 0.68; */
}

.App-minheight {
  min-height: 85vh;
}

/* Miscelaneos */
/* .App-link {
  color: #058844;
} */

/* .App-button{
  font-size: calc(10px + 2vmin);
} */