/*CSS Global de App*/

.App-global {
  text-align: center;
  background: linear-gradient(rgba(213, 213, 213, 1), rgb(213, 213, 213));
  margin: 0;
}

/* TODO cambiar diseño universal de botones y links */

/* Miscelaneos */
/* .App-link {
  color: #058844;
} */

/* .App-button{
  font-size: 25px;
} */