/*CSS Global de App*/

.App-global {
  text-align: left;
  background-color: #dededd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-navbar {
  background-color: #072a58;
  text-align: center;
  display: flex;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-footer {
  text-align: center;
}

/* Miscelaneos */
.App-link {
  color: #058844;
}